{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/Tajmahal.jpg' %}" class="d-block w-100" alt="Taj Mahal">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/maldives.jpg' %}" class="d-block w-100" alt="Maldives">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Goldentemple.jpg' %}" class="d-block w-100" alt="The Golden Temple">
    </div>
        <div class="carousel-item">
      <img src="{% static 'images/redfort.jpg' %}" class="d-block w-100" alt="RedFort">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
</body>
</html>